*{
    padding: 0px;
    margin: auto;
}

/* the classes below are for the login page */
.login-container{
    margin: 0;
    width: auto;
    height: 100%;
}

.header-index{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: beige;
}

.login-form{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightcyan;
}

.login-images{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightgoldenrodyellow;
}

.login-disclaimer{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightcyan;
}

/* The classes below are going to be for the home page */