<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Message Space</title>
</head>
<body>
    <!-- this is going to be the container for the home page -->
    <div class="home-container">
        <!-- this banner is going to display the username for the profile card -->
        <div class="home-banner">
            <h1> Welcome users name </h1>
        </div>
        <div class="home">
            <!-- this is going to be the profile card for the user profile -->
            <div class="profile-card">
                <img src="img.jpg" alt="John" style="width:100%">
                <h1>John Doe</h1>
                <p>This is where the gamertag socials go</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
        </div>
        <!-- below are going to be the profile cards -->
            <div class="status-cards">
                <div class="status-1">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p>This is going to be Game Review 1</p>
                            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="status-2">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p>This is going to be Game Review 2</p>
                            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="status-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <p>This is going to be Game Review 3</p>
                            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- below is going to be the form for updating the "what are you looking for" cards -->
            <div>
                <form action="*">

                </form>
            </div>
    </div>
</body>
</html>