<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Message Space</title>
</head>
<body>
    <!-- this is going to be the container for the home page -->
    <div class="user-container">
        <!-- part 1 start -->
        <!-- this banner is going to display the username for the profile card -->
        <div class="user-banner-with-name">
            <h1> Welcome users name </h1>
        </div>
        <!-- below is going to be the avatar and the gaming socials -->
        <div class="user-profile-banner">
            <div class="user-avatars">
                <img src="img.jpg" alt="John" style="width:100%">
                <h1>John Doe</h1>
            </div>
            <div class="user-social-card">
                <p>This is where the gamertag socials go</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
        </div>
        <!-- part 1 end -->


        <!-- part 2 start -->
        <!-- below is going to be the container for the blocks friends, reviews, about me -->
        <div id="user-profile-container">
            <!-- below is going to be the form for updating the "what are you looking for" cards -->
            <div class="user-review-panel">
                <div class="user-review">
                    <p>This is going to be the first review.</p>
                </div>
                <div class="user-review">
                    <p>This is going to be the second review.</p>
                </div>
                <div class="user-review">
                    <p>This is going to be the third review.</p>
                </div>
            </div>
            <div class="user-about-me">
                <input type="text">
            </div>
        </div>
    </div> 
</body>
</html>