*{
    padding: 0px;
    margin: auto;
}

/* the classes below are for the login page */
.login-container{
    margin: 0;
    width: auto;
    height: 100%;
}

.header-index{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: beige;
}

.login-form{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightcyan;
}

.login-images{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightgoldenrodyellow;
}

.login-disclaimer{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightcyan;
}

/* The classes below are going to be for the user page */

.user-container{
    margin: 0;
    height: 100%;
}

.user-banner-with-name{
    display: flex;
    background-color: aquamarine;
}

.user-profile-banner{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.user-avatar{
    margin: 0;
}

/* 1 start */

.user-social-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0;
    text-align: center;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
/* 1 end */


/* 2 start */
.user-profile-container{
    width: 100px;
    height: 100px;
    background-color: #000;
}
/* 3 */
/* 4 */

/* below is going to be the sign up page */

.login-container{
    margin: 0;
    width: auto;
    height: 100%;
}