*{
    padding: 0px;
    margin: auto;
}

/* the classes below are for the login page */
.login-container{
    margin: 0;
    width: auto;
    height: 100%;
}

.header-index{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: beige;
}

.login-form{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightcyan;
}

.login-images{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightgoldenrodyellow;
}

.login-disclaimer{
    display: flex;
    align-items: center;
    width: auto;
    height: 25vh;
    background-color: lightcyan;
}

/* The classes below are going to be for the home page */

.home-container{
    margin: 0;
    width: auto;
    height: 100%;
}

.home-banner{
    display: flex;
    background-color: aquamarine;
}

/* below is going to be the profile card */
.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 10px;
    text-align: center;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/*  */
/*  */
/*  */
/*  */

/* below is going to be the sign up page */

.login-container{
    margin: 0;
    width: auto;
    height: 100%;
}

/* below is going to be the status cards for the home page */

.status-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* below is going to be the flip card on the home page */

  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

  /* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}